/* css general */
:root {
  --color-silver: #f5f5f5;
  --color-1: rgba(239, 178, 125, 1);
  --color-2: rgba(255, 189, 189, 1);
  --color-3: rgba(230, 156, 87, 1);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--color-silver);
  list-style: none;
  text-decoration: none;
}
body {
  background: rgb(239, 178, 125);

  background-image: url("./assets/clouds2.png"),
    linear-gradient(
      90deg,
      var(--color-1) 0%,
      var(--color-2) 50%,
      var(--color-3) 100%
    );
  background-repeat: no-repeat;
  background-size: 100% 100vh;
  position: absolute;
  z-index: 1;
  width: 100vw;
  height: 100%;
}
/* css navbar */
nav {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100vw;
}
.menu {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
a {
  margin: 0 3em 0 3em;
}
.burger-button {
  position: fixed;
  z-index: 3;
  background-color: var(--color-3);
  border-radius: 50px;
  top: 10px;
  right: 10px;
  display: none;
}
/* main grilla de index */
.main-grid {
  display: grid;
  position: relative;
  top: 40px;
  z-index: 6;
  width: 100%;
  height: 70%;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  grid-template-areas:
    "flor-image  social-nets"
    "msg  social-nets";
  align-items: center;
  align-content: center;
  justify-items: center;
}
#flor-image {
  width: 300px;
  height: 350px;
  grid-area: flor-image;
  border: 2px solid var(--color-silver);
  justify-self: start;
  align-self: center;
  margin: 5px;
}
#msg {
  grid-area: msg;
  border: 2px solid var(--color-silver);
  width: 400px;
  height: 90px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* left: 50px; */
  bottom: 30px;
}
#social-nets {
  display: flex;
  writing-mode: vertical-lr;
  grid-area: social-nets;
  position: relative;
  right: 15px;
  justify-self: flex-end;
}
#social-nets ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#social-nets ul li {
  margin: 20px 0 20px 0;
}
/* footer */
footer {
  width: 100%;
  text-align: center;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: center;
}
/* about page */
.about-container {
  display: flex;
  width: 90%;
  height: 80%;
  margin: 10px;
  justify-content: space-around;
  align-items: center;
}
.about-container img {
  width: 40%;
  height: 45%px;
  margin: 0 15px 0 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.about-container img:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.about-container article p,
.about-container article h1 {
  text-align: center;
  margin: 0 15px 0 15px;
}

/* blogposts page */

.post-container {
  position: relative;
  z-index: 3;
  top: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 230px;
  height: min-content;
  margin: 0 40px 0 40px;
}
.card img {
  height: 230px;
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* media queries */

@media screen and (max-width: 768px) {
  /* burger button */
  .burger-button {
    display: block;
  }
  .menu {
    position: fixed;
    font-size: 30px;
    background: var(--color-3);
    z-index: 7;
    top: 0;
    right: -100vw;
    /* left: -100vw; */
    width: 50vw;
    /* height: 100vh; */
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
  }
  .menu.is-active {
    right: 0;
  }
  /* main-grid */
  .main-grid {
    top: 150px;
  }
  /* about */
  body {
    height: auto;
    background-repeat: repeat;
  }
  .about-container {
    height: 90vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .about-container img {
    margin: 15px 0 15px 0;
  }
  /* blogpost */
  .post-container {
    flex-wrap: wrap;
    justify-content: center;
  }
  .post-container .card {
    margin: 20px 40px 20px 40px;
  }
}
@media screen and (max-width: 480px) {
  /* blogpost */
  .post-container {
    flex-direction: column;
  }
  #pagination {
    margin: 25px 5px;
  }
  /* index maingrid */
  #msg {
    width: 250px;
  }
}
@media screen and (max-width: 320px) {
  /* about */

  .about-container img {
    width: 300px;
    justify-self: center;
  }
  /* maingrid index */
  #social-nets {
    display: none;
  }
  #flor-image {
    width: 200px;
    height: 250px;
  }
  #msg {
    width: 220px;
  }
}
